.course .course_details{
	width:250px;
    margin-top: 3.5em;
}

.navbar-default .navbar-nav > li > a.active {
    background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
    color: #555;
    background-color: #e7e7e7;
    background-repeat: repeat-x;
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

.loader {
	border: 5px solid #f3f3f3;
    border-top: 5px solid #286090;
    border-left: 5px solid #2e6da4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.8s cubic-bezier(0.3, 0.6, 0.8, 0.6) infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}